body, html {
  text-align: center;
  color: #757576;
  height: 100%;
  margin: 0;
  background-image: url("../static/bg_login3.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

hr {
  border: 1px solid black;
}

.homeAccordian {
  margin-top: 5%;
  text-align: justify;
}

.personPic {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
.personPic:hover {
  cursor: pointer;
  border: 1px solid #E9EAEE;
}

.MessageBox {
  margin: auto;
  margin-bottom: 20px;
}

.containerColumn {
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding: 20px;
  background: white;
  text-align: center;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.3);
  border: 3px solid white;
}

.profileCard {
  margin: 5%;
  padding: 5%;
}

.profileImage {
  height: 100px;
  width: 100px;
  display: block;
  margin: auto;
  border-radius: 100%;
}

.dashboardTable {
  background-color: white;
}

.dashboardImg {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin: auto;
}

.optionText {
  margin: 10px;
}

.selectClass {
  margin: 20px;
}

.datePicker {
  display: block;
  margin: 20px;
}

.submitButton {
  margin: 20px;
}