// Styles specific to Login component should be in this page

.Login {
    border: none;
    padding: 10px;
    padding-top: 10%;
    color: black;
    opacity: 0.9;
}

.LoginMainGridItem {
    background-color: white;
    padding-top: 2em;
    padding-bottom: 2em;
    -moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.3);
    border: 3px solid white;
}

.GoogleLoginButton {
    margin: auto;
}