.containerColumn {
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 20px;

    background: white;
    text-align: center;
    opacity: 0.95;
    height: 80vh;

    -moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.3);
    border: 3px solid white;

}