.optionText {
    margin: 10px;
}

.submitButton {
    margin: 20px;
}

.tabContainer {
    margin: 20px 20px 20px 0;
}

.tabPane {
    padding: 20px;
    border: 3px solid #343A40;
}

.marginControl {
    margin-bottom: 10px;
}