// All variables should be declared in this file

// $theme: "blue";   // Either "blue" or "transparent"
$theme: "transparent";   // Either "blue" or "transparent"

// index.scss
$bodyHtmlBackgroundImage: "";
$hrBorderColor: white;
$commonTextColor: black;

// login.scss
$loginBorder: none;
$loginMainGridItemBackgroundColor: white;
$loginColor: black;
$loginOpacity: 1;